*{
    box-sizing: border-box;
}

.columns {
    float: left;
    width: 25%;
    padding: 4px;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #4CAF50;
    font-size: 20px;
}

.btn_ready {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

/*content */
.delete-item, .delete-addon{
  display: none;
}


dl, dt, dd {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  text-align: left;
  padding: 4px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
dt:hover,dd:hover {
  background: #ddd;
}

dt.active, dd.active{

  background: #888;
  color: #fff;
  text-decoration: line-through;
}
