*{
    box-sizing: border-box;
}

h2{
  background : #29CF69;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  margin-bottom: 20px;
  color: white;
  padding-left: 25px;
  font-size: 33px;
}

.columns {
    float: left;
    width: 24%;
    margin: 9px;
}

.price {
    list-style-type: none;
    border: 0px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 2px 0px 10px rgb(195, 195, 195);
}

.price:hover {
    box-shadow: 0 8px 12px 0 rgba(204, 204, 204, 0.75);
}

.price .header {
    background-color: #29a859;
    color: white;
    font-size: 25px;
}

.price li {
    padding: 20px;
    text-align: center;
}


.btn_ready {
    background-color: #29CF69;
    border: none;
    color: white;
    width: 97%;
    margin: 0;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 16px;
}
.btn_ready:hover{
    background-color: #43A047;

}

/*content */
.delete-item, .delete-addon{
  display: none;
}


dl, dt, dd {
  cursor: pointer;
  position: relative;
  list-style-type: none;
  text-align: left;
  padding: 4px;
  background: white;
  font-size: 18px;
  transition: 0.2s;
  font-size: 25px;
}

dd{
 margin-left: 20px;
}

dt:hover,dd:hover {
  background: #C8E6C9;
}

dt.active, dd.active{

  background: #81C784;
  color: #fff;
  text-decoration: line-through;
}


/************************************************************************/
/*floting button*/
.helper-floating-button{
  padding:0;
  margin:0;
}


.label-container{
	position:absolute;
	bottom:30px;
	right:83px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.75);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
  position: absolute;
  top: 13px;
	color:#333;
	opacity:0.75;
}

.float{
	position:fixed;
	width:65px;
	height:65px;
	bottom:40px;
	right:50px;
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}


.my-float{
	margin-top:15px;
  margin-left:0px;
}

a.btnlink > div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.btnlink:hover > div.label-container{
  visibility: visible;
  opacity: 1;
}

ul.icon{
	position:fixed;
	right:45px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

ul.icon li.btn{
	list-style:none;
  margin: 0;
  display: block;
}


ul.icon li.btn a.btnlink{
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:50px;
	height:50px;
	display:block;
}

ul.icon:hover{
	visibility:visible!important;
	opacity:1!important;
}

a#menu-share + ul.icon{
  visibility: hidden;
}

a#menu-share:hover + ul.icon{
  visibility: visible;
  animation: move-up 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes move-up {
    0% {
      bottom: -40px;
      opacity: 0;
    }
    25%{
      opacity: 0;
    }

    100% {
      bottom: 80px;
      opacity: 1;
    }
}

@keyframes move-down {

  0% {
    bottom: 80px;
    opacity: 1;
  }
  25%{
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes rotate-in {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes rotate-out {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
/* floating button*/
