
.searchFood::-webkit-calendar-picker-indicator,
.searchAddon::-webkit-calendar-picker-indicator,
.searchCondition::-webkit-calendar-picker-indicator {
  display: none;
}

/**************************************************************/
/* Pop up form food-box */

.popup-bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.popup-main {
  position: fixed;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);
  left: 35%;
  top: 15%;
}

.close-popup {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #c7c7c7;
  cursor: pointer;
}

.popup-content h2{
  position: absolute;
  left: 50px;
  top: 15px;
}

.form-add-food, .form-add-addon {
  position: absolute;
  top: 145px;
  left: 50px;
  font-size: 18px;
}

.search_containter {
  position: absolute;
  top: 45px;
  left: 50px;
  font-size: 18px;
}
/**************************************************************/
/* Pop up form customer-box */

.popup-bg-cus {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
}

.popup-main-cus {
  position: fixed;
  width: 500px;
  height: 600px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, .25);
  left: 35%;
  top: 15%;
}

.close-popup-cus {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #c7c7c7;
  cursor: pointer;
}

.popup-content-cus h2{
  position: absolute;
  left: 50px;
  top: 15px;
}

.form-add-condition {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 18px;
}

/**************************************************************/

html {
  background-color: #e9edf0;
  font-family: sans-serif;
}

header{
  background-color:#29CF69;
  padding: 0.5%;
  box-shadow: 3px 0px 20px rgb(195, 195, 195);
}

header h1{
  margin-top: 5px;
  margin-left: 35px;
  color: #FFF;
}

.left_content{
  float: left;
  width: 25%;
  height: 100%;
  margin-left: 2%;
  margin-top: 1.5%;

}

.right_content{
  float: right;
  width: 69%;
  margin-top: 1.5%;
  margin-right: 2%;
}

.right-lower_div{
  margin: 1%;
}

.order-box {
  background-color: #FFF;
  box-shadow: 2px 0px 10px rgb(195, 195, 195);
}

.cancelled-box {
  background-color: #FFF;
  box-shadow: 2px 0px 10px rgb(195, 195, 195);
}

.food-box {
  background-color: #FFF;
  height: 430px;
  max-height: 43%;
  margin-bottom: 1%;
  overflow: hidden;
  box-shadow: 2px 0px 10px rgb(195, 195, 195);
}

.customer-box{
  background-color: #FFF;
  float: right;
  width: 75%;
  margin-right: 1%;
  height: 368px;
  box-shadow: 2px 0px 10px rgb(195, 195, 195);
}

.description-box {
  background-color: #FFF;
  float: right;
  width: 24%;
  height: 368px;
  box-shadow: 2px 0px 10px rgb(195, 195, 195);

}
/************************************************************************/
/*order box style*/
.order-box .order-food-area{
  height: 450px;
  overflow-y: auto;
}

.order-box .show-cart{
  margin-left: 20px;
  margin-top: 20px;
  padding: 0;
}

.order-box dt {
  margin-bottom: 6px;
  font-size: 25px;
  margin-right: 5px;
}

.order-box dd{
  font-size: 20px;
  margin-top: 2px;
  margin-left: 20px;
  margin-bottom: 2px;
}

.order-box .delete-item{
  float: right;
  border-style: none;
  margin-right: 20px;
  background-color: #fff;
  color: rgb(215, 215, 215);
  font-weight: normal;
}

.order-box .delete-addon{
  float: right;
  border-style: none;
  margin-right: 60px;
  background-color: #fff;
  color: rgb(215, 215, 215);
}

.order-box .clear-buttons{
 height: 10% ;
 width: 100%;
}
.order-box .send-buttons{
 height: 10%;
 width: 100%;
}

#clear_cart{
  border: none;
  width: 47%;
  margin-top: 5px;
  margin-left: 10px;
  padding: 7px;
}
#clear_addon_cart{
  border: none;
  width: 47%;
  margin-top: 5px;
  margin-right: 10px;
  padding: 7px;
}

#send_to_kitchen{
  border: none;
  background-color: #29CF69;
  color: #FFF;
  font-size: 22px;
  font-weight: bold;
  width: 95%;
  height: 95%;
  padding: 12px;
  margin: 10px;
}
/************************************************************************/
/*cancelled box style*/
.cancelled-box{
  padding-top: 10px;
  padding-bottom: 27px;
  margin-top: 26%;
}

.cancelled-box h1{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}

.searchOrder_containter{
  margin-left: 40px;
}

#datalist-order-id{
  float: left;
  margin-bottom: 15px;
  margin-right: 2%;
  width: 72%;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
  font-size: 18px;
}

#btn-cancel-order{
  border-style: none;
  font-size: 18px;

}

/************************************************************************/
/*food box style*/

.food-box a{
  color: black;
}

.food-box .food-box-left{
  float:left;
  max-width: 80%;
}

.food-box .tabs{
  margin-left: 20px;
  margin-top: 20px;
}

.food-box .click-cat{
  font-size: 30px;
  text-decoration: none;
  margin: 15px;
}

.food-box .click-subcat{
  font-size: 25px;
  text-decoration: none;
  margin: 10px;
}

.food-box .sub-tabs {
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 15px;
}

.food-box .content{
  margin-left: 40px;
  height: 300px;
  overflow-y: auto;
}

.food-box .add-to-cart{
  background-color: #FFF;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  height: 80px;
  width: 330px;
  box-shadow: 1px 1px 5px rgb(182, 182, 182);
  webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  margin: 2px;
  vertical-align: middle;
  line-height: 75px;
  padding-left: 15px;

}

.food-box .add-to-cart:hover{
  box-shadow: 3px 0px 7px #29CF69;
}

.addon_title {
  margin-bottom: 10px;

}

.food-box .addon-tabs{
  float: right;
  margin-top: 5%;
  overflow-y: auto;
}

.food-box .addon-to-cart{
  background-color: #FFF;
  font-size: 16px;
  text-decoration: none;
  display: block;
  height: 60px;
  width: 200px;
  padding-left: 20px;
  padding-top: 18px;
  box-shadow: 1px 1px 5px rgb(182, 182, 182);
  webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  margin: 10px;
}

.food-box .addon-to-cart:hover{
  box-shadow: 3px 2px 7px #29CF69;
}

.food-box .btn-edit{
  float:right;
  float: right;
  border-style: none;
  font-size: 22px;
  background-color: rgb(232, 229, 229);
  color: rgb(131, 131, 131);
}

/************************************************************************/
/*customer box style*/

.customer-box .customer-box-title{
  margin-left: 20px;
  margin-top: 20px;;
  margin-bottom: 20px;
  font-size: 25px;
}

.customer-box #customer-form-id{
  margin-left: 40px;
  font-size:20px;

}

#input_name{
  width: 41%;
  margin-bottom: 15px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
}

#input_contact{
  margin-top: 8px;
  width: 30%;
  margin-bottom: 15px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
  float:left;
  margin-right: 7%;
}

#input_address{
  clear: both;
  margin-top: 6px;
  width: 95%;
  margin-bottom: 15px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
}

#discount{
  margin-top: 10px;
  float: left;
  margin-bottom: 15px;
  margin-right: 2%;
  width: 170px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
}

#delivery_cost{

  margin-bottom: 15px;
  margin-right: 2%;
  width: 170px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
}

#bill_no{
  padding-top: 11px;
  margin-bottom: 15px;
  margin-left: 2%;
  margin-right: 3%;
  width: 170px;
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);

}

#customer-form-id h2{
  float: right;
  margin: 0;
  width: 30%;
  margin-bottom: 10px;
}

#total-cart{
  width: 30%;
  border-style: none;

}

#total-cart:disabled{
background: #FFF;
}

.checkbox-condition{
  clear: both;
  margin-top: 4%;
}

.hover-condition{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

#checkbox_others_cost{
  width: 20px;
  height: 20px;
}

.total-add{
  float: left;
  margin-top: 10px;

}

#others_cost{
  border-style: none;
  border-bottom: 2px solid rgb(208, 208, 208);
  width: 150px;
}

.btn-edit-cus{
  float: right;
  border-style: none;
  font-size: 22px;
  color: rgb(131, 131, 131);
  background-color: rgb(232, 229, 229);
}


/************************************************************************/
/*description box style*/


.description-box h1{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 25px;
}

.description-box .show-description{
  list-style: none;
}


.description-box .description-content{
  font-size: 35px;
  margin-bottom: 20%;
}

.description-box .price-content{
  font-size: 18px;
}

.description-box .price-content{
  font-size: 35px;

}


/************************************************************************/
/*floting button*/
.helper-floating-button{
  padding:0;
  margin:0;
}


.label-container{
	position:absolute;
	bottom:30px;
	right:83px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.75);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
  position: absolute;
  top: 13px;
	color:#333;
	opacity:0.75;
}

.float{
	position:fixed;
	width:65px;
	height:65px;
	bottom:40px;
	right:50px;
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}


.my-float{
	margin-top:15px;
  margin-left:0px;
}

a.btnlink > div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.btnlink:hover > div.label-container{
  visibility: visible;
  opacity: 1;
}

ul.icon{
	position:fixed;
	right:45px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

ul.icon li.btn{
	list-style:none;
  margin: 0;
  display: block;
}


ul.icon li.btn a.btnlink{
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:50px;
	height:50px;
	display:block;
}

ul.icon:hover{
	visibility:visible!important;
	opacity:1!important;
}

a#menu-share + ul.icon{
  visibility: hidden;
}

a#menu-share:hover + ul.icon{
  visibility: visible;
  animation: move-up 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes move-up {
    0% {
      bottom: -40px;
      opacity: 0;
    }
    25%{
      opacity: 0;
    }

    100% {
      bottom: 80px;
      opacity: 1;
    }
}

@keyframes move-down {

  0% {
    bottom: 80px;
    opacity: 1;
  }
  25%{
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes rotate-in {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes rotate-out {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
/* floating button*/
