*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #e9edf0;
}

.rows{
  padding : 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

.table>tbody>tr>td{
  padding-top: 22px;
  padding-bottom: 22px;
  font-size: 16px;
  border-top: 10px solid ;
  vertical-align: middle !important;
  outline-offset: 25px;
}

.table>tbody>tr{
  box-shadow: 3px 0px 5px rgb(195, 195, 195);

}

.rows{

}

tr{
  padding: 20px;
  text-align: left;

}

th.ID{
  text-align: left;
}

table {
  border-collapse:separate;
  border-spacing:0 15px;
}

#result{
  width: 90%;
}

.record_bar {
  margin-bottom: 10px;
}
