header h2{
  background-color:#29CF69;
  padding: 0.5%;
  box-shadow: 3px 0px 20px rgb(195, 195, 195);
  padding: 0.5%;
  margin-top: 0;
  color: #FFF;
  text-align: left;
  padding: 20px;
  padding-left: 88px;
  font-size: 35px;
}

header {
  margin-bottom: 20px;
}

footer{
  height: 60px;
  background-color: #FFF;
  box-shadow: 3px 0px 20px rgb(195, 195, 195);
}

footer p {
  float: left;
}

div#input-group{
  width: 20%;
  float: left;
  font-size: 22px;
  margin-left: 95px;
  margin-right: 25px;
}

.date{
  margin-left: 20px;
  font-size: 20px;
}

p#subtotal_id, p#totalDelivery{
  margin-top: 0.5%;
  font-size: 22px;
}

p#totalDelivery{
  margin-right: 3%;
  margin-left: 72.5%;
}

p#subtotal_id{

}



table{
  margin-left: 5%;
  padding: 0;
}

thead {
  display: block;
  color: gray;
  width: 100%;
  text-align: left;
}

tr th{
  text-align: left;
}

tbody {
  display: block;
  height: 638px;
  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
}

tbody:hover {
    overflow-y: scroll;
    width: 100%;
}

footer{
  background: white;
  margin-bottom: 0;
}

/************************************************************************/
/*floting button*/
.helper-floating-button{
  padding:0;
  margin:0;
}


.label-container{
	position:absolute;
	bottom:30px;
	right:83px;
	display:table;
	visibility: hidden;
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.75);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
  position: absolute;
  top: 13px;
	color:#333;
	opacity:0.75;
}

.float{
	position:fixed;
	width:65px;
	height:65px;
	bottom:40px;
	right:50px;
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	z-index:1000;
	animation: bot-to-top 2s ease-out;
}


.my-float{
	margin-top:15px;
  margin-left:0px;
}

a.btnlink > div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.btnlink:hover > div.label-container{
  visibility: visible;
  opacity: 1;
}

ul.icon{
	position:fixed;
	right:45px;
	padding-bottom:20px;
	bottom:80px;
	z-index:100;
}

ul.icon li.btn{
	list-style:none;
  margin: 0;
  display: block;
}


ul.icon li.btn a.btnlink{
	background-color:#29CF69;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	width:50px;
	height:50px;
	display:block;
}

ul.icon:hover{
	visibility:visible!important;
	opacity:1!important;
}

a#menu-share + ul.icon{
  visibility: hidden;
}

a#menu-share:hover + ul.icon{
  visibility: visible;
  animation: move-up 0.5s;
}

a#menu-share i{
	animation: rotate-in 0.5s;
}

a#menu-share:hover > i{
	animation: rotate-out 0.5s;
}

@keyframes bot-to-top {
    0%   {bottom:-40px}
    50%  {bottom:40px}
}

@keyframes move-up {
    0% {
      bottom: -40px;
      opacity: 0;
    }
    25%{
      opacity: 0;
    }

    100% {
      bottom: 80px;
      opacity: 1;
    }
}

@keyframes move-down {

  0% {
    bottom: 80px;
    opacity: 1;
  }
  25%{
    opacity: 0;
  }

  100% {
    bottom: 0px;
    opacity: 0;
  }
}

@keyframes rotate-in {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
}

@keyframes rotate-out {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
/* floating button*/
